<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>单位业绩</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
            <li>
                <strong>安装商信息</strong>
            </li>
            <li class="active">
                <strong>编辑单位业绩</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>*(编辑单位业绩)</h5>
                    <div class="ibox-tools">
                       
                    </div>
                </div>
                <div class="ibox-content">
                        <form class="form-horizontal" ng-submit="au_update.update()" validate>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="control-label">项目名称</label>
                                        <input type="text" class="form-control" ng-model="au_update.currentAchievement.ProjectName" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                         <label class="control-label">项目地点</label>
                                        <input type="text" class="form-control" ng-model="au_update.currentAchievement.ProjectAddress" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <label class="control-label">币种</label>
                                        <select  class="form-control" ng-model="au_update.currentAchievement.MoneyType" required>
                                            <option value="元">人民币</option>
                                            <option value="日元">日元</option>
                                            <option value="美元">美元</option>
                                            <option value="欧元">欧元</option>
                                            <option value="卢布">卢布</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="control-label">项目合同额</label>
                                        <input type="number" class="form-control" ng-model="au_update.currentAchievement.ProjectMoney" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label">项目工期</label>
                                        <input type="number" class="form-control" ng-model="au_update.currentAchievement.ProjectDate">
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                         <label class="control-label">合作单位</label>
                                        <input type="text" class="form-control" ng-model="au_update.currentAchievement.Partner" required>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                        <label class="control-label">项目说明</label>
                                        <textarea class="form-control" ng-model="au_update.currentAchievement.Content"></textarea>
                                    </div>
                                </div>
                               
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" ng-click="au_update.cancel()">取消</button>
                                        <button class="btn btn-primary" type="submit">确认保存</button>
                                    </div>
                                </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>




